<div class="default-container">
  <header class="hero">
    <video autoplay muted playsinline loop class="hero-video" #heroVideo>
      <source src="/assets/video/hero-landscape.webm" media="(min-width: 1024px)" type="video/webm">
      <source src="/assets/video/hero-landscape-720.mp4" media="(min-width: 1024px)" type="video/mp4">
      <source src="/assets/video/hero-portrait.webm" type="video/webm">
      <source src="/assets/video/hero-portrait-720.mp4" type="video/mp4">
    </video>

    <div class="content max-w-container">
      <h1 class="display d-white">
        Innovating for Smarter Diagnostics
      </h1>
      <h1 class="headline"><span>智慧檢驗，</span><span>守護健康的<br>第一道防線</span></h1>
      <p class="text-xl tracking-wide">歡迎加入智慧檢驗醫學學會，共同推動檢驗醫學的創新與發展。</p>
    </div>
  </header>

  <div class="space-y-20 py-20 xl:space-y-32 xl:py-32">
    <section class="max-w-container">
      <div class="px-5">
        <h2 class="display d-black">Knowledge Exchange</h2>
        <div class="relative pb-24 lg:pb-0" *ngIf="!(ads | isEmpty)">
          <swiper [config]="bannerSwipe" class="relative w-full mt-8 slide-1-fade">
            <ng-template swiperSlide *ngFor="let item of ads">
              <div class="flex flex-col items-start justify-between lg:flex-row-reverse">
                <!-- src="/assets/image/demo/002.jpg" -->
                <img [src]="combineCdnUrl(item.coverFullPath || '')" [alt]="item.title"
                  class="rounded-lg aspect-video object-cover w-full lg:w-2/3 lg:mt-4">
                <div class="w-full mt-5 lg:w-1/3 lg:mt-0">
                  <h3 class="headline font-bold">{{ item.title }}</h3>
                  <p class="text-xl"> {{ item.desc }}</p>
                </div>
              </div>
            </ng-template>
          </swiper>
          <div class="swipe-btn-wrap-b">
            <button class="btn-primary swiper-btn-banner prev"><span class="material-symbols-rounded">
                arrow_back_ios
              </span></button>
            <button class="btn-primary swiper-btn-banner next"><span class="material-symbols-rounded">
                arrow_forward_ios
              </span></button>
          </div>
        </div>
        <web-result-empty *ngIf="ads | isEmpty" class="block my-5"></web-result-empty>
      </div>
    </section>



    <section class="max-w-container">
      <div class="flex items-start flex-col lg:flex-row-reverse">
        <h2 class="lg:text-right min-w-fit">
          <span class="display d-black">Latest News</span>
          <p class="headline">最新消息</p>
        </h2>

        <div class="news-list" *ngIf="!(newsMsgs | isEmpty)">
          <a *ngFor="let item of newsMsgs" [routerLink]="['/news/detail/', item.uniqueId]">
            <div class="info-wrap">
              <p class="pin" *ngIf="item.stickyAt"><span class="material-symbols-rounded pr-1">pinboard</span>置頂</p>
              <p>{{ '學會公告' }} &#8739;</p>
              <p> {{ item.startAt | dateFormatter: 'yyyy.MM.dd': '' }}</p>
            </div>
            <h3> {{ item.title }}</h3>
          </a>
        </div>

        <web-result-empty *ngIf="newsMsgs | isEmpty" class="flex-auto w-full my-5"></web-result-empty>
      </div>
      <a class="link-underline ml-auto lg:mt-5" target="_blank" routerLink="/news/list">
        <span>看更多消息</span><span class="material-symbols-rounded">arrow_right_alt</span>
      </a>
    </section>

    <section class="flex flex-col">
      <h2 class="text-center">
        <span class="display d-black">Corporate Sponsors</span>
      </h2>
      <app-partner-logos></app-partner-logos>
    </section>
  </div>
</div>