<div class="max-w-container">
    <header>
        <h2>
            <span class="display d-black">Committee</span>
            <p class="headline">委員會組織</p>
            <p class="label">任期期間 114 年 3 月 29 日至 117 年 3 月 28 日</p>
        </h2>
    </header>

    <div class="py-5 space-y-10 divide-y divide-dashed">
        <section *ngFor="let member of Committee" class="md:flex items-start pt-10">
            <h2 class="category">{{ member.category }}</h2>
            <ul class="member-list-wrap">
                <li>
                    <p class="text-blue-950/50">主任委員</p>
                    <p class="text-2xl"><span class="">{{ member.Chairperson }}</span></p>
                </li>
                <li>
                    <p class="text-blue-950/50">執行秘書</p>
                    <p class="text-2xl"><span class="">{{ member.Secretary }}</span></p>
                </li>
                <li>
                    <p class="text-blue-950/50">委員</p>
                    <p class="text-2xl">
                        <span *ngFor="let person of member.Commissioner; let last = last" class="inline-block">{{ person }}<span *ngIf="!last" class="px-2 opacity-0">、</span>
                        </span>
                    </p>
                </li>
            </ul>
        </section>
    </div>
</div>