:host {
  display: block;
  background: #111;
  color: white;
}

.story-wrapper {
  width: 100%;
  overflow: hidden;
}

.spacer {
  height: 100vh;
}

.map-section {
  height: 300vh;
  position: relative;
}

.map-container {
  position: sticky;
  top: 0;

  width: 100%;
  height: 100vh;

  overflow: hidden;
  background: #111;
}

.map-svg {
  width: 100%;
  height: 100%;
}

.route-base {
  fill: none;
  stroke: rgba(255,255,255,0.15);
  stroke-width: 6;
}

.route-glow {
  fill: none;

  stroke: white;
  stroke-width: 6;

  filter: drop-shadow(0 0 12px rgba(255,255,255,0.9));

  stroke-linecap: round;
}

.moving-dot {
  filter: drop-shadow(0 0 16px white);
}

.map-title {
  position: absolute;

  top: 80px;
  left: 80px;

  font-size: 80px;
  letter-spacing: 8px;
  font-weight: 200;

  pointer-events: none;
}